$primario: #221C44;
$secondario: white;
$bgHero: #7550FD;
$bgPrimario: #F4F3F7;

$text-size-xs: 0.7rem;
$text-size-sm: 1.2rem;
$text-size-lg: 2.5rem;
$text-size-sm: 1.2rem;

$margin-lg-x:70px;
$margin-sm-x:30px;
$margin-lg-top:50px;
$margin-sm-top:20px;